<!DOCTYPE html>
<html>
<head>
  <title>Agenti</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  <!-- <script src="js/websock.js"></script>  -->
  <script src="js/agentController.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1200px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>
<div ng-app="MyApp" ng-controller="AgentController">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <h1 style="color: white">Agenti</h1>
	    </div>
	  </div>
	</nav>
	  
	<div class="container-fluid text-center">    
	  <div class="row content">
	    <div class="col-sm-4 sidenav">
	    	<div class="panel panel-default">
		    	<div class="panel-heading">Podrzani agenti</div>
	  			<div class="panel-body">
	  				<table class="table table-striped fixed">
	  					<tr ng-repeat="agentType in supportedAgents">
							<td>{{ agentType.name }}</td>
							<td><input type="text" ng-model="agentName" required></td>
							<td><button class="btn btn-success glyphicon glyphicon-ok" ng-click="activate(agentType, agentName)"></button></td>  		    			
						</tr>			    		
			    	</table> 
		    	</div>		
	    	</div>
	    	<div class="panel panel-default">
	    		<div class="panel-heading">Aktivni agenti</div>
	  			<div class="panel-body">
	  				<table class="table table-striped fixed">
	  					<tr ng-repeat="agentType in activeAgents">
							<td>{{ agentType.aid.type.name }}</td>
							<td>{{ agentType.aid.name }}</td>
							<td><button class="btn btn-danger glyphicon glyphicon-remove" ng-click="deactivate(agentType.aid)"></button></td> 	    			
						</tr>			    		
			    	</table> 
		    	</div>
	    	</div>
	    </div>
	    <div class="col-sm-4 text-left"> 
	      <div class="panel panel-default" style="margin-top:20px">
		     <div class="panel-heading">Poruka</div>
			 <div class="panel-body">
			  	<div class="form-group">
		    	  <label for="perform">Performative:</label>
		    	  <select class="form-control" ng-model="selectedPerform" ng-options="x for x in performative">
				  </select>
			    </div>
			    <div class="form-group">
			      <label for="sender">Sender:</label>
			      <select class="form-control" ng-model="selectedSender" ng-options="x.aid.name for x in sender">
				  </select>
			    </div>
			    <div class="form-group">
			      <label for="receivers">Receivers:</label>
			      <select class="form-control" ng-model="selectedReceiver" ng-options="x.name for x in receivers">
				  </select>
			    </div>
			    <div class="form-group">
			      <label for="replyTo">Reply to:</label>
			      <input type="text" class="form-control" id="replyTo">
			    </div>
			    <div class="form-group">
			      <label for="content">Content:</label>
			      <input type="text" class="form-control" id="content">
			    </div>		  
			    <div class="form-group">
			      <label for="language">Language:</label>
			      <input type="text" class="form-control" id="language">
			    </div>
			    <div class="form-group">
			      <label for="encoding">Encoding:</label>
			      <input type="text" class="form-control" id="encoding">
			    </div>
			    <div class="form-group">
			      <label for="ontology">Ontology:</label>
			      <input type="text" class="form-control" id="ontology">
			    </div>
			    <div class="form-group">
			      <label for="protocol">Protocol:</label>
			      <input type="text" class="form-control" id="protocol">
			    </div>
			    <div class="form-group">
			      <label for="conversationId">Conversation ID:</label>
			      <input type="text" class="form-control" id="conversationId">
			    </div>
			    <div class="form-group">
			      <label for="replyWith">Reply with:</label>
			      <input type="text" class="form-control" id="replyWith">
			    </div>
			    <div class="form-group">
			      <label for="replyBy">Reply by:</label>
			      <input type="text" class="form-control" id="replyBy">
			    </div>
			    <button class="btn btn-primary" id="submit">Posalji poruku</button>
	    	</div>
	      </div>
	    </div>
	    <div class="col-sm-4 sidenav">
	      <div class="well">
	        <p>Konzola koja ce ispisivati stanja agenata</p>
	      </div>
	      <div class="well">
	        <p>Ako bude jos nesto trebalo da se doda, stavicemo ovde</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>