<!DOCTYPE html>
<html>
<head>
  <title>Agenti</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/agentController.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1100px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>
<div ng-app="MyApp" ng-controller="AgentController">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <h1 style="color: white">Agenti</h1>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar" style="padding-top: 25px">
	      <ul class="nav navbar-nav navbar-right">
	        <li style="color:white">
	        	<span class="glyphicon glyphicon glyphicon-globe"></span>
	        	<labela>  Web socket  </labela>
	        	<input type="checkbox" ng-model="podrzanWebSocket" ng-disabled="!haveWS" ng-click="changeWS()">
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	  
	<div class="container-fluid text-center">    
	  <div class="row content">
	    <div class="col-sm-4 sidenav">
	    	<div class="panel panel-default">
		    	<div class="panel-heading"><b>Podrzani agenti</b></div>
	  			<div class="panel-body" style="max-height:338px;overflow-y:auto;">
	  				<table class="table table-striped fixed">	  					
	  					<tr ng-repeat="agentType in supportedAgents">
	  						<form name="agents">
							<td>{{ agentType.name }}</td>
							<td><input type="text" name="agentName" ng-model="agentName" required></td>
							<td align="right"><button class="btn btn-success glyphicon glyphicon-ok" ng-click="activate(agentType, agentName)"></button></td>
							</form>	  		    			
						</tr>			    							
			    	</table> 
		    	</div>		
	    	</div>
	    	<div class="panel panel-default">
	    		<div class="panel-heading"><b>Aktivni agenti</b></div>
	  			<div class="panel-body" style="max-height:600px;overflow-y:auto;">
	  				<table class="table table-striped fixed">
	  					<tr ng-repeat="aid in activeAgents">
							<td>{{ aid.type.name }}</td>
							<td>{{ aid.name }}</td>
							<td align="right"><button class="btn btn-danger glyphicon glyphicon-remove" ng-click="deactivate(aid)"></button></td> 	    			
						</tr>			    		
			    	</table> 
		    	</div>
	    	</div>
	    </div>
	    <div class="col-sm-4 text-left"> 
	      <div class="panel panel-default" style="margin-top:20px">
		     <div class="panel-heading"><b>ACL Poruka</b></div>
			 <div class="panel-body">
			 	<form>
			  	<div class="form-group">
		    	  <label for="perform">Performative:</label>
		    	  <select class="form-control" ng-model="selectedPerform" ng-options="x for x in performative">
		    	  	<option></option>
				  </select>
			    </div>
			    <div class="form-group">
			      <label for="sender">Sender:</label>
			      <select class="form-control" ng-model="selectedSender" ng-options="x.name for x in sender">
			      	<option></option>
				  </select>
			    </div>
			    <div class="form-group">
			      <label for="receivers">Receivers:</label>
			      <select class="form-control" multiple="true" ng-model="selectedReceiver" ng-options="x.name for x in receivers">
				  </select>
			    </div>
			    <div class="form-group">
			      <label for="replyTo">Reply to:</label>
			      <input type="text" class="form-control" ng-model="selectedReplyTo" id="replyTo">
			    </div>
			    <div class="form-group">
			      <label for="content">Content:</label>
			      <input type="text" class="form-control" ng-model="selectedContent" id="content">
			    </div>		  
			    <div class="form-group">
			      <label for="language">Language:</label>
			      <input type="text" class="form-control" ng-model="selectedLanguage" id="language">
			    </div>
			    <div class="form-group">
			      <label for="encoding">Encoding:</label>
			      <input type="text" class="form-control" ng-model="selectedEncoding" id="encoding">
			    </div>
			    <div class="form-group">
			      <label for="ontology">Ontology:</label>
			      <input type="text" class="form-control" ng-model="selectedOntology" id="ontology">
			    </div>
			    <div class="form-group">
			      <label for="protocol">Protocol:</label>
			      <input type="text" class="form-control" ng-model="selectedProtocol" id="protocol">
			    </div>
			    <div class="form-group">
			      <label for="conversationId">Conversation ID:</label>
			      <input type="text" class="form-control" ng-model="selectedConversationId" id="conversationId">
			    </div>
			    <div class="form-group">
			      <label for="replyWith">Reply with:</label>
			      <input type="text" class="form-control" ng-model="selectedReplyWith" id="replyWith">
			    </div>
			    <div class="form-group">
			      <label for="replyBy">Reply by:</label>
			      <input type="text" class="form-control" ng-model="selectedReplyBy" id="replyBy">
			    </div>
			    <button class="btn btn-primary" id="submit" ng-click="sendMessage()">Posalji poruku</button>
			    <button class="btn btn-default" id="reset" ng-click="reset()">Reset</button>
			    </form>
	    	</div>
	      </div>
	    </div>
	    <div class="col-sm-4 sidenav">
	      <div class="panel panel-default">
	      	<div class="panel-heading"><b>Poruke</b></div>
			<div class="panel-body" style="max-height:1001px;overflow-y:auto;">
				<div ng-repeat="msg in consoleLog track by $index"><p>{{msg}}</p></div>
		        <!-- <button class="btn btn-primary" ng-click="clearConsole()">Clear console</button> -->
	        </div>
	   	  </div>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>